* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8f9;
}

/* header */

header {
    background-color: #fff;
}

#logo {
    vertical-align: middle;
    margin-left: 20px;

}

#titolo {
    vertical-align: middle;
    font-size: 30px;
    font-weight: 900;
}

.container-header {
    padding: 10px;
}